// main titles, text
$primary_title: #ED4296;
$secondary_title: #373F50;
$text_dark: #000000;
$text_light: #FFFFFF;
$subtitle_light: #FFFFFF69;


// links, buttons
$button_main: #FF0815;

// backgrounds
$main_bg: #F1EFF1;
$secondary_bg:#614A9D;
