.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-family: 'Montserrat_Bold', sans-serif;
}

.text-black {
    font-family: 'Montserrat_Black', sans-serif;
}

.text-regular {
    font-family: 'Montserrat_Regular', sans-serif;
}