.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-family: 'Montserrat_Bold', sans-serif;
}

.text-center {
    text-align: center;
}

.text-white {
    color: $text_light;
}

.text-black {
    font-family: 'Montserrat_Black', sans-serif;
}

.text-regular {
    font-family: 'Montserrat_Regular', sans-serif;
}

.text-light-30 {
    font-family: 'Montserrat_Light', sans-serif;
    font-size: 30px;
}

.text-bold-30 {
    font-family: 'Montserrat_Bold', sans-serif;
    font-size: 30px;
}

.text-bold-64 {
    font-family: 'Montserrat_Bold', sans-serif;
    font-size: 74px;
}

.text-bold-74 {
    font-family: 'Montserrat_Bold', sans-serif;
    font-size: 74px;
}

.text-black-92 {
    font-family: 'Montserrat_Black', sans-serif;
    font-size: 92px;
}

.text-black-236 {
    font-family: 'Montserrat_Black', sans-serif;
    font-size: 236px;
}

